@charset "utf-8";
html {
}
/* 컬러 시스템 */
:root {
  --color-black: #18191c;
  --color-black_blue: #334155;
  --color-white: #fefefe;
  --color-blue_light: #0f77f6;
  --color-blue_dark: #1764b6;
  --color-blue_gray: #94a3b8;
  --color-gray: #9a9a9a;
  --color-gray_dark: #7d7d7d;
  --color-gray_blue: #94a3b8;
  --color-red: #e12243;
  --border_color-gray: #d8d8d8;
  --bg-color-gray: #f4f4f4;
}
/* 공통 */
.con-tit {
  width: 58.4rem;
  display: flex;
  justify-content: space-between;
}
.con-tit h3 {
  font-size: 1.8rem;
  line-height: 5rem;
  font-weight: 700;
  color: var(--color-black);
}
.con-tit a {
  font-size: 1.4rem;
  line-height: 5rem;
  font-weight: 500;
  color: var(--color-black);
}
/* ++++ 헤더 ++++ */
body {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-white);
  z-index: 9999;
}
#header .hdr_container {
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 10rem;
}

/* +++ 헤더 - 왼쪽영역 +++ */

.hdr-left {
  display: flex;
  align-items: center;
}
.hdr-left .main_logo-img {
  width: 11.6rem;
  height: 4rem;
}
.hdr-left .gnb {
  margin-left: 3rem;
  display: flex;
}
.hdr-left .gnb .gnb-list {
}
.hdr-left .gnb .gnb-list .gnb-link {
  padding: 0 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 4rem;
  transition: all 0.2s;
}
.hdr-left .gnb .gnb-list .gnb-link:hover {
  color: var(--color-gray);
}

/* +++ 헤더 - 오른쪽 영역 +++ */

.hdr-right {
  display: flex;
  align-items: center;
}
.hdr-right .hdr_bnr-link .m-hdr_bnr-img {
  width: 5.3rem;
  display: none;
}
.hdr-right .a-link {
  padding: 0 1rem;
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--color-gray_dark);
  transition: all 0.2s;
  border: 0.1rem solid var(--color-gray);
  border-radius: 0.3rem;
}
.hdr-right .notice {
  position: relative;
  margin-left: 2.5rem;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../icon/icon-noti.svg") center center no-repeat;
}
.hdr-right .notice::before {
  position: absolute;
  bottom: -0.7rem;
  left: -0.6rem;
  z-index: -1;
  content: "";
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  background: var(--color-gray);
  opacity: 0;
  transition: all 0.3s;
}
.hdr-right .notice::after {
  position: absolute;
  top: -0.4rem;
  right: -1rem;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #f9981a;
}
.hdr-right .notice:hover::before {
  opacity: 0.25;
}
.hdr-right .sign_up-link {
  margin-left: 2.5rem;
}
.hdr-right .login-link {
  margin-left: 1.2rem;
}
.hdr-right a:hover {
  color: var(--color-gray);
}
.hdr-right a:first-child {
  margin-left: 2rem;
}
.hdr-right a:last-child {
  padding-right: 0;
}
.hdr-right .lang-select {
  margin-left: 2rem;
  font-size: 1.6rem;
  line-height: 4rem;
  color: var(--color-gray_blue);
}
/* ++++ 헤더 - 모바일 ++++*/

/* +++ 모바일 메뉴 버튼 +++ */
.hdr-right .menu_btn {
  margin-left: 1.5rem;
  position: relative;
}

.hdr-right .menu_btn .menu_bar {
  display: none;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--color-gray_dark);
  border-radius: 0.1rem;
  transition: all 0.3s;
  z-index: 999;
}
.hdr-right .menu_btn .menu_bar-center {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  transition: all 0.3s;
}

.hdr-right .menu_btn .menu_bar-center-opa {
  opacity: 0;
}
.hdr-right .menu_btn .menu_bar-first-rotate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}
.hdr-right .menu_btn .menu_bar-last-rotate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}

/* ++++ 모바일 - 사이드 메뉴 ++++*/

.m-side_menu_wrap {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(24, 25, 28, 0.6);
  z-index: 88;
}
.side_menu_wrap_show {
  opacity: 1;
  pointer-events: visible;
}
.m-side_menu_container {
  position: absolute;
  top: 0;
  right: -100%;
  width: 31rem;
  height: 100vh;
  background-color: var(--color-white);
  transition: all 0.3s;
  z-index: 99;
}
.side_menu_container_show {
  right: 0;
}
.m-side_menu_container .top_area {
  padding: 0 1.5rem;
}
.m-side_menu_container .top_area .app_bnr_wrap {
  margin-top: 5rem;
  width: 28rem;
  padding: 1.25rem 1.5rem;
  background: var(--color-blue_light);
  border-radius: 0.6rem;
}
.top_area .app_bnr_wrap .app_bnr-link {
  display: flex;
  align-items: center;
}
.top_area .app_bnr_wrap .app_bnr-link .icon-kocobit_app {
  width: 4rem;
  height: 4rem;
}
.top_area .app_bnr_wrap .app_bnr-link .app_bnr-txt {
  margin-left: 1.5rem;
  color: var(--color-white);
  font-size: 1.4rem;
  line-height: 2rem;
}
.link_btn_wrap {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link_btn_wrap .login_link-btn {
  width: 13.25rem;
  font-size: 1.4rem;
  line-height: 3.5rem;
  text-align: center;
  color: var(--color-gray);
  border: 1px solid var(--border_color-gray);
  border-radius: 0.3rem;
  transition: all 0.3s;
}
.link_btn_wrap .login_link-btn:hover {
  background: rgba(216, 216, 216, 0.12);
}

.m-gnb {
  margin-top: 2rem;
  padding: 1.5rem;
  border-top: 0.1rem solid var(--border_color-gray);
  border-bottom: 0.1rem solid var(--border_color-gray);
}
.m-gnb .gnb-list .gnb-link {
  margin-left: 1rem;
  font-size: 1.4rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: var(--color-black);
}
.m-gnb .gnb-list .gnb-link:hover {
  color: var(--color-gray);
}
.lang {
  padding: 1.5rem;
  display: flex;
}
.lang .lang_link {
  font-size: 1.4rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: var(--color-gray);
}
.lang .lang_link:first-child {
}

.lang .lang_link:last-child {
  position: relative;
  margin-left: 1.5rem;
}

.lang .lang_checked {
  position: relative;
  font-weight: 700;
}
.lang .lang_checked::after {
  content: "";
  position: absolute;
  top: 1.65rem;
  right: -0.75rem;
  width: 0.1rem;
  height: 1rem;
  background: var(--color-gray);
}

/* ++++ 로우 1++++*/
/* +++ 로우 1 - 탭 메뉴 +++  */
.row1_wrap {
  margin-top: 10rem;
  padding: 1.5rem 0;
}
.row1_wrap .row1_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row1_wrap .row1_container .tab_menu {
  display: flex;
}
.row1_wrap .row1_container .tab_menu .tab_menu-list {
  margin-left: 1.3rem;
}
.row1_wrap .row1_container .tab_menu .tab_menu-list:first-child {
  margin-left: 0;
}
.row1_wrap .row1_container .tab_menu .tab_menu-link {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 5rem;
  color: var(--color-gray);
  transition: all 0.2s;
}
.row1_wrap .row1_container .tab_menu .tab_menu-link:hover {
  color: var(--color-black);
}
.row1_wrap .row1_container .tab_menu .tab_menu-check {
  position: relative;
  color: var(--color-black);
}
.row1_wrap .row1_container .tab_menu .tab_menu-check::after {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  content: "";
  width: 100%;
  height: 0.5rem;
  background: var(--color-blue_light);
  opacity: 0.7;
}

/* +++ 로우 1 - 검색창 +++  */

.search_wrap {
  position: relative;
}
.search_wrap .input-search {
  padding: 0 1.5rem;
  width: 30rem;
  height: 4.5rem;
  font-size: 1.4rem;
  color: var(--color-gray);
  background: var(--bg-color-gray);
  border-radius: 0.5rem;
}
.search_wrap .input-search:focus {
  color: var(--color-black);
  border: 0.1rem solid var(--color-black);
  background-color: var(--color-white);
}
.search_wrap .btn-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
}
/* ++++ 메인 컨텐츠 (로우 2) ++++ */
#main {
  padding: 4rem 0;
  border-top: 0.1rem solid var(--border_color-gray);
}
#main .main_container {
  display: flex;
  justify-content: space-between;
}
.market_card {
  width: 58.4rem;
  height: 46rem;
  border: 0.1rem solid var(--border_color-gray);
  border-radius: 1rem;
  transition: all 0.35s;
  box-shadow: 0 0.2rem 0.9rem rgba(156, 156, 156, 0.16);
}
.market_card:hover {
  margin-top: -0.5rem;
}
.market_card .market_card-link {
  padding: 3rem;
}
.market_card .coin_info-wrap {
  display: flex;
  justify-content: space-between;
}
.market_card .market_type {
  display: block;
  width: 8.5rem;
  height: 3rem;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-gray_dark);
  border-radius: 0.3rem;
  background-color: var(--bg-color-gray);
}
.market_card .coin_name-wrap {
  display: flex;
  align-items: center;
}
.market_card .coin_name-wrap .coin_symbol {
  margin-bottom: 0.3rem;
}
.market_card .coin_name-wrap .coin_symbol-img {
  width: 2rem;
  height: 2rem;
}
.market_card .coin_name-wrap .coin_name-eng {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  line-height: 4.5rem;
  font-weight: 700;
}
.market_card .coin_name-wrap .coin_name-ko {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 4.5rem;
  color: var(--color-gray);
}

.price-group {
}
.price-group .coin_price {
  font-size: 3.4rem;
  line-height: 4rem;
  font-weight: 700;
  color: var(--color-blue_dark);
  text-align: right;
}
.price-group .price_updown {
  font-size: 1.4rem;
  line-height: 4rem;
  font-weight: 500;
  color: var(--color-blue_dark);
  text-align: right;
}
.price-group .price_updown .icon-down {
  display: inline-block;
  margin-bottom: 0.2rem;
}
.price-group .price_updown .icon-down-img {
  width: 1.2rem;
  height: 0.7rem;
}
.market_chart {
  margin-top: 0.5rem;
}
.market_chart .market_chart-img {
}
.market_link-btn {
  margin-top: 2rem;
  width: 100%;
  height: 6rem;
  font-size: 1.6rem;
  color: var(--color-gray_dark);
  background-color: var(--bg-color-gray);
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.market_card:hover .market_link-btn {
  color: var(--color-white);
  background-color: var(--color-blue_dark);
}

/* +++ 마켓 리스트 +++ */
.market_list {
  padding: 0 3rem;
  width: 58.4rem;
  height: 46rem;
  border: 0.1rem solid var(--border_color-gray);
  border-radius: 1rem;
  transition: all 0.35s;
  box-shadow: 0 0.2rem 0.9rem rgba(156, 156, 156, 0.16);
}
.market_list-table {
  box-sizing: border-box;
  margin-top: 2rem;
  width: 52.4rem;
  border-collapse: collapse;
}
.market_list-table .th_list {
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 500;
  color: var(--color-gray);
}
.market_list-table .thead {
  border-bottom: 0.1rem solid var(--border_color-gray);
}
.market_list-table .cell-name {
  width: 16rem;
  text-align: left;
}
.market_list-table .cell-price {
  width: 12rem;
  text-align: right;
}
.market_list-table .cell-updown {
  width: 9rem;
  text-align: right;
}
.market_list-table .cell-amount {
  width: 10.9rem;
  text-align: right;
}
.market_list-table .cell-trade {
  width: 4.5rem;
  text-align: right;
}
.market_list-table .tbody tr {
  border-bottom: 0.1rem solid var(--bg-color-gray);
  transition: all 0.2s;
  cursor: pointer;
}
.market_list-table .tbody tr:hover {
  background-color: var(--bg-color-gray);
}
.market_list-table .tbody .td_list {
  font-size: 1.6rem;
  line-height: 8rem;
  font-weight: 500;
}
.market_list-table .tbody .cell-name {
  line-height: 0;
}
.market_list-table .tbody .td_list .top-area {
  display: flex;
  align-items: center;
}
.market_list-table .tbody .coin_tit-wrap {
  height: 4.5rem;
}
.market_list-table .tbody .td_list .coin_symbol-img {
  width: 2rem;
  height: 2rem;
  margin-top: -0.5rem;
}
.market_list-table .tbody .td_list .top-area .coin_name-eng {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
}
.market_list-table .tbody .td_list .coin_name-ko {
  margin-top: 0.5rem;
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-gray);
}
.market_list-table .tbody .cell-amount {
  color: var(--color-gray_dark);
}
.more_link {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 6rem;
  color: var(--color-gray);
  text-align: center;
}
.more_link:hover {
  color: var(--color-gray_dark);
}
.more_link .icon-arrow {
  margin-top: -0.4rem;
  margin-left: 1rem;
  width: 0.8rem;
}
.color-up {
  color: var(--color-red);
}
.color-down {
  color: var(--color-blue_dark);
}

/* ++++ 로우 3 ++++  */
.row3_wrap {
  border-top: 0.2rem solid rgba(216, 216, 216, 0.7);
}
.row3_container {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.row3_container .row3_left {
  width: 58.4rem;
}
.row3_container .row3_right {
  width: 52.8rem;
}
/* 컨텐츠 01 - 가상자산 뉴스 */
.con1-art {
  box-sizing: border-box;
  width: 58.4rem;
  border: 0.1rem solid var(--border_color-gray);
  border-radius: 0.6rem;
  transition: all 0.3s;
}
.con1-art:hover {
  box-shadow: 0 0.5rem 1rem rgba(230, 230, 230, 0.6);
}
.con1-art:hover .more-link {
  background-color: var(--color-blue_light);
  color: var(--color-white);
}
.con1-art .con1-art-link {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.con1-art .min-tit {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--color-gray);
}
.con1-art .con1-art_tit {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 700;
}
.con1-art .media-info {
  margin-top: 1rem;
  display: flex;
}
.con1-art .media-tit {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--color-blue_gray);
}
.con1-art .bro-time {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--color-blue_gray);
}
.con1-art .more-link {
  margin-top: 2rem;
  width: 14rem;
  font-size: 1.4rem;
  line-height: 4rem;
  font-weight: 700;
  color: var(--color-blue_light);
  border: 0.1rem solid var(--color-blue_light);
  border-radius: 0.3rem;
  text-align: center;
  transition: all 0.3s;
}
.con1-art .con1-doge {
  width: 27rem;
}
/* 컨텐츠 02 - 공지사항 */

.con2-notice {
  margin-top: 4rem;
  width: 58.4rem;
}
.con2-notice .con2-tit {
  border-bottom: 0.1rem solid var(--border_color-gray);
}

.con2-notice .con2-art {
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.2);
  transition: all 0.3s;
}
.con2-notice .con2-art:hover {
  opacity: 0.7;
}
.con2-notice .con2-art .con2-art-link {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.con2-notice .con2-art .con2-art-tit-wrap {
  display: flex;
  margin-right: 0.5rem;
}
.con2-notice .con2-art .con2-art-tit {
  max-width: 46rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  max-height: 2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.con2-notice .con2-art .icon-new {
  margin-left: 0.4rem;
  width: 0.9rem;
  height: 1rem;
}
.con2-notice .con2-art .con2-art-cont {
  width: 48rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 300;
  color: var(--color-gray);
  max-height: 4.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.con2-notice .con2-art .con2-art-date {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-gray);
}
/* .con2-notice .con2-art .con2-art_top {
  display: flex;
  justify-content: space-between;
}
.con2-notice .con2-art .con2-art-tit {
  max-width: 48rem;
  padding-right: 1rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
  max-height: 2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.con2-notice .con2-art-tit-wrap {
  position: relative;
}
.con2-notice .con2-art-tit-wrap .icon-new {
  position: absolute;
  top: -0.2rem;
  right: -0.4rem;
  width: 0.9rem;
  height: 1rem;
}
.con2-notice .con2-art .con2-art-date {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-gray);
}
.con2-notice .con2-art .con2-art-txt {
  display: inline-block;
  width: 51.4rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: var(--color-gray);
  max-height: 4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} */

/* 컨텐츠 03 - 프로젝트 정보 */
.con3-project {
  margin-top: 4rem;
}
.con3-project .con3-tit {
  border-bottom: 0.1rem solid var(--border_color-gray);
}
.con3-project .con3-art {
  border-bottom: 0.1rem solid rgba(216, 216, 216, 0.2);
  transition: all 0.3s;
}
.con3-project .con3-art:hover {
  opacity: 0.7;
}
.con3-project .con3-art .con3-art-link {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.con3-project .con3-art .coin-tit {
}
.con3-project .con3-art .coin-tit .top-area {
  display: flex;
  align-items: center;
}

.con3-project .con3-art .coin-tit .coin-symbol {
  width: 2rem;
  height: 2rem;
}
.con3-project .con3-art .coin-tit .coin-name-eng {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 700;
}
.con3-project .con3-art .coin-tit .coin-name-ko {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: var(--color-gray);
}
.con3-art-tit-wrap {
  display: flex;
}
.con3-art-tit-wrap .con3-art-tit {
  max-width: 38rem;
  max-height: 3rem;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.con3-art-tit-wrap .icon-new {
  width: 0.9rem;
  height: 1rem;
}
.con3-art-cont {
  width: 38rem;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: var(--color-gray);
  max-height: 4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.con3-art-date {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: var(--color-gray);
  text-align: right;
}

/* 컨텐츠 04 - 이벤트 */

.con4-event {
  position: relative;
  width: 52.8rem;
}
.con4-event .con4-tit {
  font-size: 1.8rem;
  line-height: 5rem;
  font-weight: 700;
}
.con4-event .con4-art {
  box-sizing: border-box;
  padding: 3rem;
  padding-bottom: 6.5rem;
  width: 52.8rem;
  border: 0.1rem solid var(--border_color-gray);
  border-radius: 1rem;
}
.con4-event .con4-art .con4-art-tit {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--color-gray);
}
.con4-event .con4-art .con4-bnr {
  margin-top: 2rem;
  transition: all 0.3s;
}
.con4-event .con4-art .con4-bnr:hover {
  opacity: 0.85;
}
.con4-event .con4-art .more-link-btn {
  margin: 0 auto;
  margin-top: 3rem;
  width: 18rem;
  font-size: 1.6rem;
  line-height: 5rem;
  text-align: center;
  background: var(--color-blue_light);
  color: var(--color-white);
  border-radius: 0.3rem;
  transition: all 0.3s;
}
.con4-event .con4-art .more-link-btn:hover {
  opacity: 0.8;
}
.con4-event .con4-art .con4-slide-tit {
  margin-top: 0.5rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
.con4-btn_prev,
.con4-btn_next {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid var(--border_color-gray);
  border-radius: 0.3rem;
  cursor: pointer;
}
.con4-btn_prev:hover,
.con4-btn_next:hover {
  opacity: 0.6;
}
.con4-btn_prev {
  right: 4rem;
  background: url("../icon/icon-arrow_left.svg") center center no-repeat;
}
.con4-btn_next {
  right: 0;
  background: url("../icon/icon-arrow_right.svg") center center no-repeat;
}
.con4-swiper-pagination {
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}
/* 컨텐츠 05 - 리워드 */
.con5-reward {
  margin-top: 4rem;
}
.con5-reward .con5-tit {
  font-size: 1.8rem;
  line-height: 5rem;
  font-weight: 700;
}
.con5-reward .con5-art {
  box-sizing: border-box;
  padding: 3rem;
  width: 52.8rem;
  border: 0.1rem solid var(--border_color-gray);
  border-radius: 0.6rem;
}
.con5-reward .con5-art .coin-tit-wrap {
  display: flex;
  align-items: center;
}
.con5-reward .con5-art .coin-tit-wrap .coin-symbol {
  width: 2rem;
  height: 2rem;
}
.con5-reward .con5-art .coin-tit-wrap .coin-name-eng {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 700;
}
.con5-reward .con5-art .coin-tit-wrap .coin-name-ko {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 300;
  color: var(--color-gray);
}
.con5-reward .con5-art .timer-wrap {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.con5-reward .con5-art .timer-wrap .timer-container {
  position: relative;
  margin-left: 3rem;
  padding: 1.4rem 0;
  width: 6.5rem;
  height: 8.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--border_color-gray);
  text-align: center;
  box-shadow: 0.2rem 0.3rem 1.1rem rgba(203, 203, 203, 0.35);
}
.con5-reward .con5-art .timer-wrap .timer-container::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.8rem;
  content: "";
  width: 0.5rem;
  height: 2.5rem;
  background: url("../icon/icon-timer.svg") center center no-repeat;
}
.con5-reward .con5-art .timer-wrap .timer-container:last-child::after {
  display: none;
}
.con5-reward .con5-art .timer-wrap .timer-container:first-child {
  margin-left: 0;
}
.con5-reward .con5-art .timer-wrap .timer-container span {
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 700;
}
.con5-reward .con5-art .timer-wrap .timer-container p {
  margin-top: 0.8rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--color-gray);
}
.con5-reward .con5-art .more-link {
  margin: 0 auto;
  margin-top: 3.5rem;
  width: 35rem;
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 500;
  color: var(--color-white);
  background: var(--color-blue_light);
  border-radius: 0.2rem;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.con5-reward .con5-art .more-link:hover {
  opacity: 0.85;
}
/* 컨텐츠 06 - 자주 묻는 질문 */
.con6-ques {
  margin-top: 4rem;
}
.con6-tit {
  font-size: 1.8rem;
  line-height: 5rem;
  font-weight: 700;
}
.con6-art-wrap {
  display: flex;
  justify-content: space-between;
}
.con6-art {
  width: 16.6rem;
  height: 19rem;
  border: 0.1rem solid var(--border_color-gray);
  border-radius: 0.6rem;
  transition: all 0.2s;
}
.con6-art:hover {
  margin-top: -0.3rem;
  box-shadow: 0 0 0.6rem 0 rgba(203, 203, 203, 0.35);
}
.con6-art .con6-art-link {
  padding: 4rem 0;
  width: 100%;
  height: 100%;
}

.con6-art .con6-art-link .con6-art-img {
  height: 6.5rem;
}
.con6-art .con6-art-link .m-con6-art-icon {
  display: none;
}
.con6-art .con6-art-link .con6-art-tit {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  height: 2rem;
  font-weight: 500;
  text-align: center;
}
/* 빼먹은 로우 */
.row-wrap {
  margin-top: 4.5rem;
}
.con10-min-tit {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-gray);
}
.con10-tit {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
}
.con10-art-wrap {
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.con10-art {
  width: 38rem;
  transition: all 0.3s;
  background: var(--color-white);
}
.con10-art:hover {
  margin-top: -1rem;
}
.con10-img-bg {
  height: 16.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  background: #f7faff;
}
.con10-txt-wrap {
  padding: 2rem;
  border: 0.1rem solid var(--border_color-gray);
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
}
.con10-txt-wrap .con10-art-tit {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
}
.con10-art-hash {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--color-blue_dark);
}
.con10-art-hash-first {
  margin-left: 0;
}
/* 컨텐츠 10 - 모바일 버전 */
.m-con10-tips {
  display: none;
  padding-bottom: 3.5rem;
}
.m-con10-swiper-container {
  position: relative;
  width: 100%;
}
.m-con10-swiper-container .swiper-wrapper {
}
.m-con10-swiper-container .con10-art-link {
}
.m-con10-swiper-container .con10-img-bg {
  width: 100%;
}
.m-con10-swiper-container .con10-img {
  width: 38rem;
  margin: 0 auto;
}
.m-con10-swiper-container .m-con10-swiper-pagination {
  position: absolute;
  bottom: -2.3rem;
  left: 50%;
  transform: translateX(-50%);
}
/* 로우 4 */
/* 로우 4 - 컨텐츠 07 슬라이드 */
.con7-slide-container {
  position: relative;
}
.con7-art {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 100%;
  position: relative;
  height: 41.5rem;
}
.con7-art .con7-com-tit {
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 700;
  color: var(--color-gray);
}
.con7-art .con7-tit {
  display: block;
  margin-top: 1.5rem;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 700;
}
.con7-art .con7-art-cont {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 100;
}
.con7-art .con7-img-bg {
  width: 55rem;
}
.con7-art .con7-img {
  margin: 0 auto;
  width: 34rem;
  height: 30rem;
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10rem; */
}
.con7-slide-container .con7-swiper-pagination {
  bottom: 10rem;
}
/* 컨텐츠 08 */
.row5-wrap {
  background: #f7fafc;
}
.con8-mobile {
  position: relative;
  padding: 10.8rem 1.5rem;
}
.con8-mobile .con8-tit {
  font-size: 3.2rem;
  line-height: 5rem;
  font-weight: 700;
  color: var(--color-black_blue);
}
.con8-mobile .con8-tit .mobile-txt {
  position: relative;
}
.con8-mobile .con8-tit .mobile-txt::after {
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  z-index: ;
  content: "";
  width: 100%;
  height: 1rem;
  background: rgba(79, 153, 256, 0.6);
}
.con8-mobile .con8-cont {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 100;
  color: var(--color-black_blue);
}
.con8-mobile .con8-link-btn {
  margin-top: 4.5rem;
  display: inline-block;
  width: 16.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  height: 5rem;
  line-height: 5rem;
  background: var(--color-black_blue);
  border-radius: 0.5rem;
  color: var(--color-white);
  text-align: center;
  transition: all 0.3s;
}
.con8-mobile .con8-link-btn:hover {
  opacity: 0.85;
}
.con8-mobile .con8-link-btn:last-child {
  margin-left: 2.5rem;
}
.con8-mobile .con8-link-btn i:first-child {
  font-size: 2.3rem;
}
.con8-mobile .con8-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: auto;
  height: 35rem;
}
/* 컨텐츠 09 */
.con9-add {
  padding: 5rem 1.5rem;
}
.con9-tit {
  font-size: 3.2rem;
  line-height: 6rem;
  font-weight: 700;
  text-align: center;
}
.con9-cont {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 4.5rem;
  font-weight: 100;
  text-align: center;
}
.con9-cont .txt-blue {
  color: var(--color-blue_light);
  font-weight: 500;
}
.more-link-wrap {
  margin-top: 3rem;
  text-align: center;
}
.con9-sign_up-link {
  display: inline-block;
  width: 11rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  line-height: 5rem;
  text-align: center;
  background: var(--color-blue_light);
  color: var(--color-white);
  transition: all 0.2s;
}
.con9-sign_up-link:hover {
  opacity: 0.85;
}

.con9-login_up-link {
  margin-left: 3rem;
  display: inline-block;
  font-size: 1.6rem;
  lighting-color: 5rem;
  color: var(--color-blue_light);
  transition: all 0.3s;
}
.con9-login_up-link:hover {
  font-weight: 700;
}
/* 푸터 */
.footer {
  background: #f7fafc;
}
.top-ftr {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
}
.top-ftr .customer-center-wrap {
  display: flex;
}
.top-ftr .cust-tit {
  font-size: 1.8rem;
  line-height: 4rem;
  font-weight: 700;
  color: var(--color-black_blue);
}
.top-ftr .cust-cont {
  margin-left: 1rem;
  font-size: 1.2rem;
  line-height: 4rem;
  font-weight: 100;
  color: var(--color-gray_blue);
}
.support-list-wrap {
  display: flex;
}
.support-list-wrap .support-list {
  position: relative;
  margin-left: 2rem;
}
.support-list-wrap .support-list::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -1rem;
  width: 0.1rem;
  height: 1rem;
  background: var(--color-gray_blue);
}
.support-list-wrap .support-list:last-child::after {
  display: none;
}
.support-list-wrap .support-list-link {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-gray_blue);
}
.support-list-wrap .support-list:first-child {
  margin-left: 0;
}
.contact {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 100;
  color: var(--color-gray_blue);
}
.contact-mail {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--color-gray_blue);
}
.contact-mail i {
  margin-left: 1rem;
}
.m-contact {
  display: none;
}
.m-contact-mail {
  display: none;
}
.site-map-list-wrap {
  display: flex;
}
.site-map-list {
  margin-right: 6rem;
}
.site-map-list:last-child {
  margin-right: 0;
}
.site-map-tit {
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: 700;
  color: var(--color-black_blue);
}
.site-map-tit i {
  display: none;
}
.site-map-link {
  font-size: 1.4rem;
  line-height: 3rem;
  font-weight: 100;
  color: var(--color-gray_blue);
}

.bottom-ftr {
  border-top: 0.1rem solid rgba(153, 167, 187, 0.2);
}
.bottom-ftr-container {
  display: flex;
  justify-content: space-between;
}
.sns-wrap {
  margin-top: 1rem;
  display: flex;
}
.sns-wrap i {
  margin-right: 1.5rem;
  font-size: 2.8rem;
  color: var(--color-gray_blue);
  transition: all 0.3s;
}
.sns-wrap i:hover {
  margin-top: -0.25rem;
  color: var(--color-black_blue);
}
.footer-logo {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--color-gray_blue);
}
.copy-right {
  font-size: 1.4rem;
  line-height: 4rem;
  font-weight: 400;
  color: var(--color-gray_blue);
  text-align: right;
}
/* ///////// 반응형 스타일 시트 /////////// */
html {
  overflow-x: hidden;
}
@media (max-width: 1200px) {
  .hdr-right .hdr_bnr-link .hdr_bnr-img {
    display: none;
  }
  .hdr-right .hdr_bnr-link .m-hdr_bnr-img {
    display: block;
  }
  .con8-mobile {
    width: 100%;
  }
  .con9-add {
    width: 100%;
  }
  .top-ftr {
    width: 100%;
  }
  .bottom-ftr-container {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .m-side_menu_wrap {
    display: none;
  }
  .m-side_menu_container {
    display: none;
  }
}
/* 화면 1000px  */

@media (max-width: 1000px) {
  #header .hdr_container {
    width: 100%;
    height: 6rem;
    padding: 0 1.5rem;
  }
  .hdr-left .main_logo-img {
    height: 3.5rem;
  }
  .hdr-right .lang-select {
    display: none;
  }
  .hdr-right .menu_btn {
    margin-left: 2.5rem;
  }
  #nav {
    display: none;
  }
  .login-link {
    display: none;
  }
  .sign_up-link {
    display: none;
  }
  .hdr-right .menu_btn .menu_bar {
    display: block;
  }

  .row1_wrap .row1_container {
    width: 100%;
    flex-wrap: wrap-reverse;
  }
  .row1_wrap .row1_container .tab_menu {
    display: flex;
  }
  .row1_wrap .row1_container .tab_menu .tab_menu-list {
  }
  .row1_wrap .row1_container .tab_menu .tab_menu-list:first-child {
    margin-left: 0;
  }
  .row1_wrap .row1_container .tab_menu .tab_menu-link {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 8rem;
    color: var(--color-gray);
    transition: all 0.2s;
  }
  .row1_wrap .row1_container .tab_menu .tab_menu-link:hover {
    color: var(--color-black);
  }
  .row1_wrap .row1_container .tab_menu .tab_menu-check {
    color: var(--color-black);
  }

  .search_wrap {
    margin: 1rem 0;
    position: relative;
  }
  .search_wrap .input-search {
    padding: 0 1.5rem;
    width: 30rem;
    height: 4.5rem;
    font-size: 1.4rem;
    color: var(--color-gray);
    background: var(--bg-color-gray);
    border-radius: 0.5rem;
  }
  #main .main_container {
    width: 100%;
    flex-wrap: wrap;
  }
  .market_card {
    margin: 0 auto;
  }
  .market_list {
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  /* 로우 03  */

  .row3_container {
    width: 100%;
    flex-wrap: wrap;
  }
  .row3_container .row3_left,
  .row3_right {
    margin: 0 auto;
  }
  .con4-event {
    margin-top: 4rem;
  }
  .row2-container {
    width: 100%;
  }
  .con7-slide-container {
    width: 100%;
  }
  /* 모바일 - 로우 4 */
  .con7-art {
    display: block;
  }
  .con7-art .con7-com-tit {
    display: block;
    text-align: center;
  }
  .con7-tit {
    text-align: center;
  }
  .con7-art-cont {
    text-align: center;
  }
  .con7-slide-container .con7-swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
  }
  .con7-art .con7-img-bg {
    width: 100%;
  }
  .con7-art .con7-img {
    max-height: 20rem;
  }
  .con8-txt-wrap {
    text-align: center;
  }
  .con8-img {
    display: none;
  }
  /* 푸터 영역 */
  .top-ftr {
    display: block;
  }
  .top-ftr .customer-center-wrap {
    width: 100%;
    display: block;
    text-align: center;
  }
  .top-ftr .cust-cont {
    line-height: 2rem;
  }
  .support-list-wrap {
    margin-top: 2rem;
    justify-content: center;
  }
  .contact {
    display: none;
  }
  .contact-mail {
    display: none;
  }
  .m-contact {
    display: block;
    text-align: center;
  }
  .m-contact-mail {
    display: block;
    text-align: center;
  }
  .site-map-list-wrap {
    margin-top: 2rem;
    display: block;
  }

  .site-map-list {
    display: block;
    margin-right: 0;
  }
  .site-map-list li {
    width: 100%;
  }
  .site-map-list li ul {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  .site-map-list li ul.show-list {
    max-height: 35rem;
  }
  .site-map-tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-top: 0.1rem solid rgba(148, 163, 184, 0.3);
  }
  .site-map-tit i {
    display: inline-block;
    transition: all 0.3s;
  }
  .rotate-i {
    transform: rotate(-180deg);
  }
  .site-map-list:last-child {
    border-bottom: 0.1rem solid rgba(148, 163, 184, 0.3);
  }
  .site-map-link {
    padding: 0 2rem;
  }
  .site-map-link:first-child {
    margin-top: 0.5rem;
  }
  /* 컨텐츠 10 - 모바일 */
  .con10-tips {
    display: none;
  }
  .m-con10-tips {
    display: block;
    width: 100%;
  }
  .m-con10-art-wrap {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .search_wrap {
    margin-top: 1rem;
    width: 100%;
  }
  .search_wrap .input-search {
    margin-top: 1rem;
    width: 100%;
  }
  .row1_wrap .row1_container .tab_menu .tab_menu-link {
    font-size: 1.6rem;
    line-height: 4rem;
  }

  .search_wrap .btn-search {
    top: 58%;
  }

  #main {
    padding-top: 2.5rem;
  }
  .market_card {
    display: none;
  }

  .market_list {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .market_list-table {
    width: 100%;
    height: 100%;
  }
  .market_list-table .th_list {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .market_list-table .tbody .td_list {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 5rem;
  }
  .market_list-table .thead .cell-amount {
    display: none;
  }
  .market_list-table .tbody .cell-amount {
    display: none;
  }
  /* 로우 3 - 컨텐츠 01 */
  .row3_container {
    width: 100%;
    height: 100%;
  }
  .row3_container .row_left {
    width: 100%;
    height: 100%;
  }
  .row3_container .row_left .con1-news {
  }
}

@media (max-width: 610px) {
  .con-tit {
    font-size: 1.4rem;
    width: 100%;
  }
  .row3_container .row3_left {
    width: 100%;
  }
  .row3_container .row3_right {
    width: 100%;
  }
  .con1-art {
    width: 100%;
  }
  .con1-art .con1-art-link {
    padding: 1.5rem;
  }
  .con1-art .con1-doge {
    width: 10.6rem;
  }
  .con1-art .min-tit {
    display: none;
  }
  .con1-art .con1-art_tit {
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .con1-art .media-info {
    margin-top: 1.5rem;
  }
  .con1-art .more-link {
    display: none;
  }
  .con2-notice {
    width: 100%;
  }
  .con2-notice .con2-art .con2-art-cont {
    width: 100%;
  }
  .con2-notice .con2-art .con2-art-link {
    width: 100%;
    flex-wrap: wrap;
  }
  .con2-notice .con2-art .con2-art-link .con2-art-date {
    margin-top: 0.5rem;
  }
  .con3-project .con3-art .con3-art-link {
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
  }

  .con3-art-txt-wrap {
    width: 100%;
    order: 0;
  }
  .con3-project .con3-art .coin-tit {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    order: 1;
  }
  .con3-art-tit-wrap .con3-art-tit {
    max-width: 100%;
  }
  .con3-art-date {
    margin-top: 1em;
    margin-left: 1rem;
    order: 2;
  }
  .con3-project {
    position: relative;
    overflow: hidden;
  }
  .con4-event {
    width: 100%;
    margin-top: 2rem;
    position: relative;
  }

  .con4-event .con4-tit {
    padding-top: 1.5rem;
    line-height: 5rem;
    border-bottom: 0.1rem solid var(--border_color-gray);
  }

  .con4-event .con4-art {
    margin-top: 1.5rem;
    padding: 0;
    padding-bottom: 6.5rem;
    border: none;
  }
  .con4-event .con4-art .con4-slide-tit {
    margin-top: 1rem;
  }
  .con4-btn_prev,
  .con4-btn_next {
    display: none;
  }
  .con4-event .con4-art {
    width: 100%;
  }
  .con5-reward {
    position: relative;
  }
  .con5-reward .con5-tit {
    padding-top: 1.5rem;
    width: 100%;
    border-bottom: 0.1rem solid var(--border_color-gray);
  }
  .con5-reward .con5-art {
    width: 100%;
    border: none;
    margin-top: 1rem;
    padding: 0;
  }
  .con5-reward .con5-art .more-link {
    width: 100%;
  }
  .con5-reward .con5-art .timer-wrap .timer-container span {
    font-size: 2.2rem;
  }

  .con4-event::before,
  .con5-reward::before,
  .con6-ques::before,
  .con7-service::before,
  .con8-mobile::before,
  .con9-add::before,
  .m-con10-tips::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
    padding: 0;
    height: 2rem;
    background: #f8f8f9;
    border-top: 0.1rem solid #e5e6e9;
  }
  .con6-ques {
    position: relative;
  }
  .con6-ques .con6-tit {
    padding-top: 1.5rem;
  }
  .con6-art-wrap {
    display: block;
  }
  .con6-art {
    width: 100%;
    border: none;
    border-bottom: 0.1rem solid var(--border_color-gray);
    height: 6rem;
    border-radius: 0;
  }
  .con6-art:last-child {
    border: none;
  }
  .con6-art:hover {
    margin-top: 0;
    box-shadow: none;
  }
  .con6-art .con6-art-link {
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .con6-art .con6-art-link::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    content: "";
    width: 0.7rem;
    height: 1.3rem;
    background: url("../icon/con6-arrow.svg") center center;
  }
  .con6-art .con6-art-link .con6-art-tit {
    margin-top: 0;
    margin-left: 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
  }
  .con6-art .con6-art-link .con6-art-img {
    display: none;
  }
  .con6-art .con6-art-link .m-con6-art-icon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
  }
  .con7-service {
    position: relative;
  }
  .con7-art .con7-img-bg {
    margin-top: 2rem;
  }
  .con7-art .con7-img {
    max-height: 12rem;
  }
  .con8-mobile {
    position: relative;
  }
  .con9-add {
    width: 100%;
    position: relative;
  }
  .site-map-tit {
    font-size: 1.4rem;
  }
  .site-map-link {
    font-size: 1.2rem;
  }
  .m-con10-tips {
    position: relative;
    padding-bottom: 5.5rem;
  }
  .m-con10-tips {
    padding-top: 1.5rem;
  }
}
@media (max-width: 400px) {
  #main {
    padding-top: 1rem;
    border: none;
  }
  .market_list-table .th_list {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  .market_list-table .tbody .td_list {
    padding: 1rem 0;
    font-size: 1.4rem;
    line-height: 5rem;
  }
  .market_list-table .thead .cell-amount {
    display: none;
  }
  .market_list-table .tbody .cell-amount {
    display: none;
  }
  .market_list-table .tbody .td_list .coin_symbol-img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .market_list-table .thead .cell-trade {
    display: none;
  }
  .market_list-table .tbody .cell-trade {
    display: none;
  }

  .con1-art .con1-art_tit {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  /* .con2-notice .con2-art .con2-art-tit {
    font-size: 1.2rem;
    line-height: 2rem;
  } */
  .con2-notice .con2-art .con2-art-txt {
    max-height: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .con2-notice .con2-art .con2-art_top {
    display: block;
  }
  .con3-project .con3-art .con3-art-link {
    padding: 1rem 0;
  }
  .con3-art-cont {
    width: 100%;
  }
  .con8-mobile .con8-link-btn {
    width: 14rem;
  }
  .con9-tit {
    font-size: 2.6rem;
  }
  .con9-cont {
    font-size: 1.6rem;
  }
  .footer-logo {
    font-size: 1.6rem;
  }
  .con7-slide-container .con7-swiper-pagination {
    bottom: 7.5rem;
  }
}
