@charset "utf-8";

/* 컬러 시스템 */
:root {
  --color-black: #18191c;
  --color-white: #fefefe;
  --color-blue_light: #0f77f6;
  --color-gray: #9a9a9a;
  --color-gray_dark: #7d7d7d;
  --border_color-gray: #d8d8d8;
  --bg-color-gray: #f4f4f4;
}

/* 헤더 */
#header .hdr_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
/* 헤더 - 왼쪽 영역 */
.hdr-left {
  display: flex;
  align-items: center;
}
.hdr_left .hdr-main_logo-img {
  width: 11.6rem;
  height: 4rem;
}
.hdr-left .gnb {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.hdr-left .gnb .gnb-list .gnb-link {
  padding: 1rem;
  font-size: 1.6rem;
}
.hdr-left .gnb .gnb-list .gnb-link:hover {
  color: var(--color-gray);
}

/* 헤더 - 오른쪽 영역 */

.hdr-right {
  display: flex;
  align-items: center;
}
.hdr-right .hdr_bnr-img {
  width: 24.5rem;
  height: 4.5rem;
}
.hdr-right .m-bnr-img {
  display: none;
  width: 4.3rem;
  height: 2.5rem;
}
.hdr-right .login-link,
.sign_up-link {
  padding: 0 1rem;
  font-size: 1.6rem;
  line-height: 4rem;
}
.hdr-right .login-link:hover,
.sign_up-link:hover {
  color: var(--color-gray);
}
.hdr-right .login-link {
  margin-left: 2rem;
}
.hdr-right .menu_btn {
  display: none;
  box-sizing: border-box;
  position: relative;
  margin-left: 2rem;
  width: 2rem;
  height: 1.4rem;
  z-index: 999;
}
/* 모바일 메뉴 버튼 */

.hdr-right .menu_btn .menu_bar {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--color-gray_dark);
  border-radius: 0.1rem;
  transition: all 0.3s;
  z-index: 9999;
}
.hdr-right .menu_btn .menu_bar-center {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  transition: all 0.3s;
}

.hdr-right .menu_btn .menu_bar-center-opa {
  opacity: 0;
}
.hdr-right .menu_btn .menu_bar-first-rotate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}
.hdr-right .menu_btn .menu_bar-last-rotate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}

/* 로우 1  */
.row1_wrap {
  border-bottom: 0.1rem solid var(--border_color-gray);
}
.row1_wrap .row1_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로우 1 - 탭 메뉴 */

.tab_menu_list_wrap {
  display: flex;
}
.tab_menu_list_wrap .tab_menu_list {
  margin-left: 1.5rem;
}
.tab_menu_list_wrap .tab_menu_list .tab_menu_link {
  font-size: 1.8rem;
  line-height: 8rem;
  font-weight: 700;
  color: var(--color-gray);
  transition: all 0.3s;
}
.tab_menu_list_wrap .tab_menu_list .tab_menu_link:hover {
  color: var(--color-black);
}
.tab_menu_list_wrap .tab_menu_list .tab_menu_checked {
  color: var(--color-black);
}
.tab_menu_list_wrap .tab_menu_list:first-child {
  margin: 0;
}

/* 로우 1 - 검색 인풋 창 */

.search_input_wrap {
  position: relative;
}
.search_input_wrap .search_input {
  padding: 0 2.5rem;
  width: 30rem;
  font-size: 1.4rem;
  line-height: 4.5rem;
  color: var(--color-gray);
  background: var(--bg-color-gray);
  border-radius: 0.5rem;
}
.search_input_wrap .search_input:focus {
  box-sizing: border-box;
  background: var(--color-white);
  color: var(--color-black);
  border: 0.1rem solid var(--color-black);
}
.search_input_wrap .search_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
}

/* 모바일 - 사이드 메뉴 */

.m-side_menu_wrap {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(24, 25, 28, 0.6);
}
.side_menu_wrap_show {
  opacity: 1;
  pointer-events: visible;
}
.m-side_menu_container {
  position: absolute;
  top: 0;
  right: -100%;
  width: 31rem;
  height: 100vh;
  background-color: var(--color-white);
  transition: all 0.3s;
}
.side_menu_container_show {
  right: 0;
}
.m-side_menu_container .top_area {
  padding: 0 1.5rem;
}
.m-side_menu_container .top_area .app_bnr_wrap {
  margin-top: 5rem;
  width: 28rem;
  padding: 1.25rem 1.5rem;
  background: var(--color-blue_light);
  border-radius: 0.6rem;
}
.top_area .app_bnr_wrap .app_bnr-link {
  display: flex;
  align-items: center;
}
.top_area .app_bnr_wrap .app_bnr-link .icon-kocobit_app {
  width: 4rem;
  height: 4rem;
}
.top_area .app_bnr_wrap .app_bnr-link .app_bnr-txt {
  margin-left: 1.5rem;
  color: var(--color-white);
  font-size: 1.4rem;
  line-height: 2rem;
}
.link_btn_wrap {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link_btn_wrap .login_link-btn {
  width: 13.25rem;
  font-size: 1.4rem;
  line-height: 3.5rem;
  text-align: center;
  color: var(--color-gray);
  border: 1px solid var(--border_color-gray);
  border-radius: 0.3rem;
  transition: all 0.3s;
}
.link_btn_wrap .login_link-btn:hover {
  background: rgba(216, 216, 216, 0.12);
}

.m-gnb {
  margin-top: 2rem;
  padding: 1.5rem;
  border-top: 0.1rem solid var(--border_color-gray);
  border-bottom: 0.1rem solid var(--border_color-gray);
}
.m-gnb .gnb-list .gnb-link {
  margin-left: 1rem;
  font-size: 1.4rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: var(--color-black);
}
.m-gnb .gnb-list .gnb-link:hover {
  color: var(--color-gray);
}
.lang {
  padding: 1.5rem;
  display: flex;
}
.lang .lang_link {
  font-size: 1.4rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: var(--color-gray);
}
.lang .lang_link:first-child {
}

.lang .lang_link:last-child {
  position: relative;
  margin-left: 1.5rem;
}

.lang .lang_checked {
  position: relative;
  font-weight: 700;
}
.lang .lang_checked::after {
  content: "";
  position: absolute;
  top: 1.65rem;
  right: -0.75rem;
  width: 0.1rem;
  height: 1rem;
  background: var(--color-gray);
}

/* 반응형 디자인 */

/* 반응형 - 모바일 */
@media (max-width: 1200px) {
  .hdr_container {
    width: 100%;
  }
  .row1_container {
    width: 100%;
  }
}
@media (max-width: 360px) {
  /* 헤더 */
  #header .hdr_container {
    width: 100%;
    height: 5rem;
  }
  .hdr-left .gnb {
    display: none;
  }

  .hdr-left .hdr_main_logo-img {
    width: 8.7rem;
    height: 3rem;
  }
  .hdr-right .login-link,
  .sign_up-link,
  .hdr_bnr-img {
    display: none;
  }
  .hdr-right .m-bnr-img {
    display: block;
    width: 4.3rem;
    height: 2.5rem;
  }
  .hdr-right .menu_btn {
    display: block;
    z-index: 999;
  }
  /* 모바일 - 사이드 메뉴 */
  /* 로우 1  */
  .row1_wrap .row1_container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    flex-wrap: wrap;
    height: 9.5rem;
    justify-content: start;
  }
  .row1_wrap {
    border: none;
  }
  /* 로우 1 - 탭 메뉴*/
  .tab_menu_list_wrap {
    width: 100%;
  }
  .tab_menu_list_wrap .tab_menu_list {
    margin-left: 1rem;
  }
  .tab_menu_list_wrap .tab_menu_list .tab_menu_link {
    font-size: 1.4rem;
    line-height: 4rem;
  }
  .search_input_wrap {
    width: 100%;
  }
  .search_input_wrap .search_input {
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    line-height: 3.5rem;
  }
}
